 <h3 mat-dialog-title>{{data.nama}}</h3>
<div mat-dialog-content>
<mat-list>
    <h3 matSubheader>Detail Barang</h3>
    <mat-list-item>
        <h3 mat-line>Tanggal : {{data.tanggal}}</h3>
        <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
        <h3 mat-line>Barang Masuk : {{data.barang_masuk}}</h3>
        <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
        <h3 mat-line>Barang Keluar : {{data.barang_keluar}}</h3>
        <p mat-line> Harga Beli : Rp. {{data.harga_beli}}</p>
        <p mat-line> Harga Jual : Rp. {{data.harga_jual}}</p>
        <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>
</div>
<mat-dialog-actions>
    <span class="spacer"></span>
    <button mat-button mat-dialog-close>Tutup</button>
  </mat-dialog-actions>
